temp/
UniDic-202203_65_novel.zip
65_novel/
Aozora-Bunko-Fiction-Selection-2022-05-30*
__pycache__
.venv
.devenv*
.direnv
.pytest_cache/
.mypy_cache/
.ruff_cache/
cache/*
.coverage*
standard-ebooks-selection/
standard-ebooks-selection.zip
standard_ebooks_metadata.csv
published/
